.servicesContainer {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-block: 100px;
}

.serviceContent {
  background-color: #1b99d2;
  padding-inline: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  color: white;
  transition: 0.4s;
}

.serviceContent p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.serviceContent:hover {
  color: black;
  transform: translateY(-20%);
  background-color: #fbd858;
}
