.inBetweenContainer {
  background-color: #fbd858;
  padding-block: 50px;
}

.inBetweenContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inBetweenText {
  font-size: 48px;
}

.inBetweenCallButton {
  color: white;
  background-color: #393939;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.inBetweenCallButton:hover {
  background-color: #505050;
}
.inBetweenCallButton:active {
  background-color: #393939;
}

@media screen and (max-width: 920px) {
  .inBetweenContent {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}
