.whatWeDoContainer {
  background-color: #e7e7e7;
}
.whatWeDoHeading {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}
.whatWeDoContentWrapper {
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.whatWeDoTextWrapper {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.whatWeDoTextWrapper p {
  flex: 1;
}

@media screen and (max-width: 920px) {
  .whatWeDoTextWrapper {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
}
