.whatWeDoContainer {
  background-color: #e7e7e7;
}

.whatWeDoHeading {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}

.whatWeDoContentWrapper {
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  height: 100%;
}

.whatWeDoTextWrapper {
  display: flex;
  gap: 60px;
  font-size: 20px;
}
.whatWeDoTextWrapper p {
  flex: 1;
}

.whatWeDoTextSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.whatWeDoTextSectionHeading {
  font-size: 30px;
}

.whatWeDoTextSectionContent {
  font-size: 24px;
}

@media screen and (max-width: 920px) {
  .whatWeDoContentWrapper {
    padding-block: 30px;
    justify-content: space-evenly;
  }

  .whatWeDoTextWrapper {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  .whatWeDoTextSectionHeading {
    font-size: 22px;
  }

  .whatWeDoTextSectionContent {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  /* .whatWeDoContainer {
    height: 100%;
  } */
}
