.contactFormContainer {
  background-color: #e5e5e5;
}

.contactFormContent {
  display: flex;
  padding-block: 40px;
  gap: 64px;
  align-items: center;
}

.contactFormDescriptionContent,
.contactFormSubmition {
  flex: 1;
}

.contactFormDescriptionSubHeading {
  font-size: 24px;
}

.contactFormDescriptionHeading {
  margin-bottom: 20px;
  font-size: 34px;
}

.contactFormText {
  font-size: 18px;
}

.contactFormSubmition {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactFormText {
  padding-top: 12px;
  line-height: 22px;
}

.contactFormFields {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nameAndSurnameFieldsWrapper {
  display: flex;
  gap: 25px;
}

.nameAndSurnameFieldsWrapper input {
  flex: 1;
}

.contactFormButton {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #fbd858;
  font-size: 18px;
  font-weight: 600;
}

.contactFormButton:hover {
  background-color: #ffe37f;
}

.contactFormButton:active {
  background-color: #fbd858;
}

@media screen and (max-width: 900px) {
  .contactFormContent {
    flex-direction: column;
    text-align: center;
  }

  .contactFormSubmition {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .nameAndSurnameFieldsWrapper {
    display: flex;
    flex-direction: column;
  }

  .nameAndSurnameFieldsWrapper input {
    flex: none;
  }
}
@media screen and (max-width: 485px) {
  .contactFormDescriptionHeading {
    font-size: 28px;
  }
}
