.offersContainer {
  margin-block: 50px;
}

.offersHeading {
  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 42px;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -webkit-box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.5);

  padding: 20px;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.35s;
  height: 94%;
}

.offer:hover {
  background-color: #393939;
  color: white;
}

.offer:hover .offerButton {
  background-color: #ffffff;
}

.offerButton {
  width: 100%;
  border: none;
  padding-block: 8px;
  background-color: #fbd858;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.2s;
}

@media screen and (max-width: 380px) {
  .offer {
    font-size: 16px;
  }
}
