.offersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-block: 50px;
}

.offersHeading {
  font-size: 64px;
  font-weight: 600;
}

.offersContent {
  display: flex;
  gap: 12px;
  list-style-type: none;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.5);
  gap: 24px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.35s;
  overflow: hidden;
}

.offerImage {
  transition: transform 0.3s;
}

.offer:hover .offerImage {
  transform: translatey(-120%);
}

.offer:hover {
  background-color: #393939;
  color: white;
}

.offer:hover .offerButton {
  background-color: #ffffff;
}
.offersText {
}

.offerButton {
  width: 100%;
  border: none;
  padding-block: 8px;
  background-color: #fbd858;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.2s;
}

/* .offersButton:hover {
  background-color: white;
} */
