.entryDescriptionContentWrapper {
  display: flex;
  gap: 20px;
  margin-block: 60px;
  padding-top: 45px;
  align-items: center;
}

.entryDescriptionImage {
  padding-inline: 40px;
}

.entryDescriptionTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}

.entryDescriptionSubHeading {
  font-size: x-large;
  font-weight: 600;
  position: relative;
}

.entryDescriptionSubHeading::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 24px;
  border-radius: 12px;
  height: 4px;
  background-color: #1b99d2;
}

.entryDescriptionHeading {
  font-size: xx-large;
  font-weight: 600;
}

.entryDescriptionText {
  line-height: 30px;
  font-size: 18px;
}
.entryDescriptionButton {
  text-align: center;
  border: none;
  background-color: #fbd858;
  font-weight: 600;
  font-size: 16px;
  transition-duration: 0.1s;
  max-width: 20%;
}

.entryDescriptionButton:hover {
  background-color: #ffe37f;
  color: rgb(48, 48, 48);
}

.entryDescriptionButton:active {
  background-color: #fbd858;
  color: black;
}

@media screen and (max-width: 1080px) {
  .entryDescriptionContentWrapper {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .entryDescriptionTextWrapper {
    align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .entryDescriptionContentWrapper img {
    height: 450px;
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .entryDescriptionContentWrapper img {
    height: 380px;
    width: 380px;
  }

  .entryDescriptionSubHeading {
    font-size: 20px;
  }

  .entryDescriptionHeading {
    font-size: 24px;
  }

  .entryDescriptionText {
    font-size: 18px;
  }
}
