.entryDescriptionContainer {
  display: flex;
  gap: 20px;
}

.entryDescriptionTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}

.entryDescriptionSubHeading {
  font-size: x-large;
  font-weight: 600;
}
.entryDescriptionHeading {
  font-size: xx-large;
  font-weight: 600;
}

.entryDescriptionText {
  line-height: 30px;
  font-size: 18px;
}
.entryDescriptionButton {
  padding: 14px 42px 14px 42px;
  border: none;
  background-color: #fbd858;
  font-weight: 600;
  font-size: 16px;
  transition-duration: 0.1s;
  max-width: 20%;
}

.entryDescriptionButton:hover {
  background-color: #ffe37f;
  color: rgb(48, 48, 48);
}

.entryDescriptionButton:active {
  background-color: #fbd858;
  color: black;
}
