.reviewsContainer {
  height: 86vh;
}

.reviewsContentWrapper {
  height: 100%;
  /* padding-block: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reviewsHeading {
  font-size: 65px;
}

.reviewsContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  font-size: 20px;
}

.reviewsContent blockquote {
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-inline: 50px;
}

.review p {
  text-align: center;
  padding-bottom: 12px;
}

@media screen and (max-width: 920px) {
  .reviewsContainer {
    height: 100%;
  }

  .reviewsContentWrapper {
    gap: 60px;
    padding-block: 30px;
  }

  .reviewsContent {
    grid-template-columns: repeat(1, 1fr);
  }
}
