.heroContainer {
  position: relative;
  height: 86vh;
  width: 100vw;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
  object-position: center;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-weight: 500;
  transform: translate(-50%, -50%);
}

.heroHeading {
  font-size: 90px;
  max-width: 600px;
  line-height: 100px;
}

.heroContent p {
  position: absolute;
  left: 26px;
  top: -6px;
}

.heroContent a {
  width: max-content;
}

.heroContent span {
  color: #1b99d2;
}

.heroPhoneButton {
  font-weight: 600;
  padding: 20px 60px;
  background-color: #1b99d2;
  color: white;
  font-size: 50px;
  transition: background-color 0.3s, color 0.3s;

  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.56);
}

.heroPhoneButton:hover {
  background-color: #fbd858;
  color: black;
}
