.heroContainer {
  position: relative;
  height: calc(100vh - 130px);
  width: 100vw;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
  object-position: right;
}

.heroContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-weight: 500;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.heroHeading {
  font-size: 90px;
  max-width: 600px;
  line-height: 1.1;
}

.heroContent p {
  font-size: 20px;
  font-weight: 600;
  padding-left: 4px;
}

.heroContent a {
  width: max-content;
}

.heroContent p span {
  color: #147da9;
}

.heroPhoneButton {
  font-weight: 600;
  padding: 20px 60px;
  background-color: #147da9;
  color: white;
  font-size: 50px;
  transition: background-color 0.3s, color 0.3s;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.56);
}

.heroPhoneButton:hover {
  background-color: #fbd858;
  color: black;
}

@media screen and (max-width: 1280px) {
  .heroContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .heroContent {
    text-align: center;
    align-items: center;
    gap: 0;
    color: white;
  }

  .heroPhoneButton {
    margin-top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .heroContent h1 {
    font-size: 72px;
  }

  .heroPhoneButton {
    padding-inline: 40px;
  }
}

@media screen and (max-width: 470px) {
  .heroContent h1 {
    font-size: 65px;
  }
  .heroContent p {
    font-size: 16px;
  }
  .heroPhoneButton {
    font-size: 40px;
    padding-inline: 10px;
  }
}
